
/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}


/* HEADER */

.header-top {
  background-color: white;
}

.clearfix::after { 
	content: ""; 
	display: table; 
	clear:both 
}

/* logo */

.logo{
  margin-bottom: 20px;
}

.logo.line {
  height: 70px;
  width: 0px;
  border-right: 1px solid lightgray;
  float: left;
  margin-left: 20px;
}

.logo img {
  height: 70px;
  float: left;
}

/* nav */

nav li {
  list-style: none;
  float: left;
  padding-right: 15px;
  font-size: 15px;
  
}

nav li a{
  text-decoration: none;
}

nav li, nav li a:visited{
  color: lightgray;
  text-transform: uppercase;
  text-decoration-line: none;
}

nav li a:hover, nav li a:active{
  color: #c04e58;
}

/* Jumbotron */

.jumbotron, .overlay{
  border-radius: 10px;
  margin-top: 23px;
}

.jumbotron {
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.25);
}

.jumbo {
  color: white;
  width: 55%;
  margin-left: 50px;
}

.jumbo.title {
  font-size: 30px;
  font-weight: 500;
  padding-top: 20%
}

.jumbo.description {
  padding-bottom: 12%;
}


/* /Jumbotron */


/* MAIN */

main {

  background-color: blue;
  padding-bottom: 23px;

}

/* Content */

.top-area {
  height: 60px;
  background-color: #abcfe7;
  margin-top: 23px;
}

aside, .main-text {
  float: left; 
  background-color: #abcfe7;
  margin-top: 18px;
}

aside {
  min-height: 370px;
  width: 25%;
}

.main-text {

  min-height: 370px;
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;

}


/* FOOTER */

footer {
  height: 42px;
  background-color: #8601ff;
  margin-top: 23px;
  margin-bottom: 23px;
}